#faqs .accordion-item {
    border-radius: 0.5rem !important;
    border: 1px solid #dee2e6 !important;
    overflow: hidden;
    font-weight: normal;
    --bs-accordion-active-bg: #e1f1f7;
    --bs-accordion-active-color: #487e93;
}
#faqs .accordion-button:not(.collapsed){
    font-weight: 500;
}
#faqs .accordion-button::after {
    content: none;
}
#faqs .accordion-button:not(.collapsed)::before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23487e93'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: var(--bs-accordion-btn-icon-transform);
}
#faqs .accordion-button::before {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: 0;
    margin-right: 1rem;
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}
