::-webkit-scrollbar {
    width: 0 !important;
}
*{
    transition: 0.3s;
}
:focus{
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
    outline: none !important;
}
.navbar-dark {
    --bs-navbar-color: rgba(255, 255, 255, 1);
    --bs-navbar-nav-link-padding-x: 1.5rem;
}
#top_menu nav .home-icon{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-top: -4px;
}
#top_menu nav .github-icon{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-top: -4px;
}

#top_menu nav svg path{
    fill: #FFF;
}
#top_menu nav .nav-item:hover svg{
    opacity: 0.75;
}
#top_menu nav .nav-item{
    font-weight: 500;
    padding: auto 2em;
}
footer{
    overflow: hidden;
}
footer section.social a{
    text-decoration: none;
}
footer section.social svg{
    width: 35px;
    height: 35px;
    vertical-align: middle;
    margin-top: -4px;
    fill: #777777;
}